<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apps">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="apps"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".booking.UpdateBooking"></activity>
        <activity android:name=".booking.InsertBooking" />
        <activity android:name=".booking.ViewBooking" />
        <activity android:name=".booking.MainBooking" />
        <activity android:name=".ContactUser.MainContact" />
        <activity android:name=".ContactUser.Update" />
        <activity android:name=".ContactUser.Insert" />
        <activity android:name=".Login" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Hasil" />
        <activity android:name=".Contact" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>
